<h2>Structural Directives</h2>
<h3>NgIf</h3>

<button (click)="toggleAffiche()">Afficher</button>
<div *ngIf="affiche">Coucou Simon</div>

<h3>NgFor</h3>

<ul>

    <li *ngFor="let bonjour of liste; let i = index">{{i+1}} - {{bonjour}}</li>

</ul>

<h3>NgSwitch</h3>

<input type="text" [(ngModel)]="choix">

<div [ngSwitch]="choix">

    <div *ngSwitchCase="1">Vous avez choisi l'option 1</div>
    <div *ngSwitchCase="2">Vous avez choisi l'option 2</div>
    <div *ngSwitchCase="3">Vous avez choisi l'option 3</div>
    <div *ngSwitchDefault>Vous êtes nuls!!!!!!!!!!</div>

</div>

<div>

    <div>

        <label for="">Choix 1</label>
        <input type="radio" [(ngModel)]="choix" value="1" name="ChoixBtn">

    </div>

    <div>

        <label for="">Choix 2</label>
        <input type="radio" [(ngModel)]="choix" value="2" name="ChoixBtn">

    </div>

    <div>

        <label for="">Choix 3</label>
        <input type="radio" [(ngModel)]="choix" value="3" name="ChoixBtn">

    </div>

</div>