<nav>
  <!-- <a routerLink="">Accueil</a>
  <a routerLink="/demo">Demo</a>
  <ul>
      <li><a routerLink="/demo/demo1">Demo1 - Bindings</a></li>
      <li><a routerLink="/demo/demo2">Demo2 - Pipes</a></li>
      <li><a routerLink="/demo/demo3">Demo3 - Component Directives</a></li>
      <li><a routerLink="/demo/demo4">Demo4 - Structural Directives</a></li>
      <li><a routerLink="/demo/demo5">Demo5 - Customs Directives</a></li>



  </ul>
  <a routerLink="/exercice">Exercice</a>
  <ul>
      <li> <a routerLink="/exercice/exo1">Exercice 1 - Timer</a></li>
  </ul> -->
  <ul>
    <li *ngFor="let menuItem of menu" appToggleInvisible>
      <a [routerLink]="menuItem.url">{{menuItem.title}}</a>
      <ul *ngIf="menuItem.children && menuItem.children.length > 0">
        <ng-container *ngFor="let subMenuItem of menuItem.children">
          <li [ngClass]="{invisible : !subMenuItem.isVisible}">
            <a [routerLink]="((menuItem.url)?menuItem.url:'')+subMenuItem.url">{{subMenuItem.title}}</a>
          </li>
        </ng-container>
      </ul>
    </li>
  </ul>
</nav>