<nav>
    <ul>
        <li>
            <a routerLink="/">Home</a>
        </li>
        <li>
            <a routerLink="demo">Demo</a>
            <ul>
                <li>
                    <a routerLink="demo/demo01">Demo01 - Component Bindings</a>
                </li>
                <li>
                    <a routerLink="demo/demo02">Demo02 - Component Pipes</a>
                </li>
                <li>
                    <a routerLink="demo/demo03">Demo03 - Component Directives</a>
                </li>
                <li>
                    <a routerLink="demo/demo04">Demo04 - Structural Directives</a>
                </li>
            </ul>
        </li>
        <li>
            <a routerLink="/exo">Exo</a>
            <ul>
                <li>
                    <a routerLink="exo/exo01">Exo01</a>
                </li>
            </ul>
        </li>

    </ul>
</nav>